button {
    height: 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
button a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}
button a:hover {
     color: black;
    text-decoration: none
}
.btn {
    background-color: #7952b3;
}
@media all and (max-width: 1300px) {
    button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1rem;
        height: 6rem;
    }
}